.gl-canvas-container {
    float: left;
}

#gl-canvas {
    background-color: #f0f0f0;
    /* padding: 20px; */
    /* border-radius: 20px; */
}

.menu-container {
    float: right;
    min-height: 700px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 20px;
}

.save-or-load {
    margin-top: 40px;
}

.save-or-load-input {
    display: flex;
}

.save-or-load-input button {
    margin-right: 10px;
}

.shape-option {
    margin-top: 30px;
}

.shape-option-input {
    justify-content: center;
}

#square,
#rectangle,
#polygon {
    margin-left: 20px;
}

.color {
    margin-top: 30px;
}

#load-btn {
    display: block;
}

.color button {
    margin-top: 10px;
    margin-right: 4px;
}

.clear-input {
    margin-top: 20px;
}

#load {
    display: none;
}

.transformation-input {
    width: 600px;
}

h1 {
    margin-top: 0px;
}

h2 {
    margin-bottom: 7px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 2px;
}